<!-- <% x=10 %>
<%=x %> -->
<%- include('headerPage.ejs') %>
<div class="container">
    <h1>Home  Page</h1>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus commodi et non repellat, deserunt quasi, ea id veritatis reiciendis atque vitae, voluptatem dicta inventore sed eum aliquam aperiam at doloremque!
</div>

<%- include('footerPage.ejs') %>