<%- include('headerPage') %>

<div class="container">
    <h1>Register  Page Using ajax</h1>
    <form id="registerForm" >
        <input type="text" name="uname" placeholder="Name" class="form-control">

        <input type="text" name="umobile" placeholder="Mobile" class="form-control">

        <input type="text" name="uemail" placeholder="Emailid" class="form-control">

        <input type="text" name="upass" placeholder="password" class="form-control">

        <input type="button" value="Send" class="register-button" />
        <input type="reset" value="Reset All" />
    </form>
    <p class="errMsgRegister"></p>
</div>

<%- include('footerPage')%>
