<%- include('headerPage') %>

<div class="container">
    <h1>Register  Page without ajax</h1>
    <form action="/register-action" method="post">
        <input type="text" name="uname" placeholder="Name" class="form-control">

        <input type="text" name="umobile" placeholder="Mobile" class="form-control">

        <input type="text" name="uemail" placeholder="Emailid" class="form-control">

        <input type="text" name="upass" placeholder="password" class="form-control">

        <input type="submit" value="Send" />
        <input type="reset" value="Reset All" />
    </form>
</div>
